<!doctype html>
<html>
  <head>
    <title>My Home Page</title>
  </head>

  <body bgcolor="#f4f6f8">
    <!-- Header -->
    <table width="100%" bgcolor="#1877f2" cellpadding="15">
      <tr>
        <td>
          <font color="white" size="6"><b>MyWebsite</b></font>
        </td>
        <td align="right">
          <font color="white" size="4">
            Home | About | Services | Contact
          </font>
        </td>
      </tr>
    </table>

    <br /><br />

    <!-- Hero Section -->
    <table width="80%" align="center" cellpadding="30" bgcolor="white">
      <tr>
        <td align="center">
          <font size="7"><b>Welcome to My Website</b></font
          ><br /><br />
          <font size="4">
            This is a simple and clean home page made using only HTML </font
          ><br /><br />
          <input type="button" value="Get Started" />
        </td>
      </tr>
    </table>

    <br /><br />

    <!-- Features -->
    <table width="80%" align="center" cellpadding="20">
      <tr>
        <td colspan="3" align="center">
          <font size="6"><b>Our Features</b></font>
        </td>
      </tr>

      <tr>
        <td bgcolor="white" align="center">
          <font size="5"><b>Fast</b></font
          ><br />
          Lightweight & quick loading
        </td>

        <td bgcolor="white" align="center">
          <font size="5"><b>Simple</b></font
          ><br />
          Easy to understand structure
        </td>

        <td bgcolor="white" align="center">
          <font size="5"><b>Responsive</b></font
          ><br />
          Works on all screens
        </td>
      </tr>
    </table>

    <br /><br />

    <!-- Footer -->
    <table width="100%" bgcolor="#222" cellpadding="15">
      <tr>
        <td align="center">
          <font color="white"> © 2026 MyWebsite | All Rights Reserved </font>
        </td>
      </tr>
    </table>
  </body>
</html>
