<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome To The Facebook</h1>
    <br />
    <br />
    <p>
      <b
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        dolor quos eveniet blanditiis voluptates. Quisquam minima voluptas cum
        nesciunt perspiciatis?</b
      >
      sed voluptatem laborum, impedit perspiciatis expedita mollitia asperiores
      distinctio nisi earum consectetur quas? Ea quaerat nostrum molestiae
      ratione excepturi neque rerum cum ipsum voluptates consequatur. Distinctio
      deserunt, reprehenderit optio odit voluptatem id corporis assumenda ullam
      explicabo tempore laboriosam? Temporibus vitae accusantium deleniti velit
      neque aliquam iste modi sint sed, optio vero exercitationem earum cumque
      doloribus, aut et aliquid dolorum illum. Ratione nemo, repellendus laborum
      mollitia perspiciatis quia voluptates consequatur labore quam dignissimos.
      Officia nulla minima ex sit consequuntur facilis repellat quod!
    </p>
    <br />
    <br />
    <i
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      cumque id, quia eveniet debitis suscipit cupiditate porro quam et veniam
      rem deserunt ex esse voluptas reprehenderit aliquid expedita facere
      quaerat illo inventore! Odio ut ad voluptates. Quibusdam aspernatur
      tempora aut?</i
    >
  </body>
  <br />
  <br />
  <b
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolores a ab
    voluptates fugiat ullam commodi nostrum nesciunt doloremque sed!</b
  >
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit sint aliquam
    iure corrupti quae reiciendis, beatae tempora nobis recusandae a!
  </p>
  <script src="/frontEnd/script.js"></script>
</html>
